/* 
Colori: Nero - #0A0908, Azzurro - #4D9DE0, Rosa - #EB7BC0
Viola Scura - #3700B3, Viola - #BB86FC, Grigio - #121212
*/
/* Import Roboto font and fill the webpage */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
* {
    margin: 0;
    padding: 0;
}

:root {
    --text: #e9e6eb;
    --background: #130c17;
    --primary: #c597e0;
    --secondary: #69169a;
    --accent: #b030fb;
}

html, body {
    height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
}

label {
    margin: 10px 0px;
    font-size: 20px;
    color: var(--text);
}

input {
    min-width: 150px;
    min-height: 30px;
    padding: 6px;
    border-radius: 10px;
    background-color: var(--accent);
}

form {
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

button {
    min-width: 100px;
    min-height: 30px;
    border-radius: 10px;
    border: 2px solid #BB86FC;
}

.container {
    min-width: 200px;
    min-height: 200px;
    padding: 12px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
}