/* Import Roboto font and fill the webpage */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
* {
    margin: 0;
    padding: 0;
}

:root {
    --text: hsl(276, 11%, 91%);
    --background: hsl(0, 0%, 7%);
    --background2: hsl(0, 0%, 15%);
    --primary: hsl(278, 54%, 74%);
    --secondary: hsl(278, 75%, 35%);
    --accent: hsl(278, 96%, 59%);
}

html, body {
    height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--background);
}

button {
    height: 4vh;
    width: 8vw;
    border: none;
    border-radius: 10px;
    background-color: var(--primary);
}

h3 {
    font-size: 20px;
    color: var(--text);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 10px;
    background-color: var(--background2);
}

#messaggi {
    height: 4vh;
    width: 4vh;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    padding: 10px 20px;
    gap: 10px;
}

#title {
    font-size: 25px;
    color: var(--text);
}

#none {
    text-align: center;
    color: white;
}

.tests {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.test {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: auto;
    height: 7vh;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--background2);
}

#info {
    display: flex;
    flex-direction: column;
}

.azioni {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.azione {
    width: 30vw;
    font-size: 20px;
}