/* Import Roboto font and fill the webpage */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
* {
    margin: 0;
    padding: 0;
}

:root {
    --text: hsl(276, 11%, 91%);
    --background: hsl(0, 0%, 7%);
    --background2: hsl(0, 0%, 15%);
    --primary: hsl(278, 54%, 74%);
    --secondary: hsl(278, 75%, 35%);
    --accent: hsl(278, 96%, 59%);
}

html, body {
    height: 100dvh;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: var(--background);
}

.greeting {
    font-size: 3vw;
    color: var(--text);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 30vw;
    min-height: 30vh;
    border-radius: 25px;
    background-color: var(--background2);
}

.selection {
    min-width: 10vw;
    min-height: 10vh;
    line-height: 10vh;
    font-size: 2vw;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: var(--accent);
}